/* compass defaults
   ========================================================================== */

// $experimental-support-for-svg: true;

@import "compass/css3";
@import "compass/support";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/sprites";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

/* normalize setup
   ========================================================================== */
$font-size: 16px;
$font-family: helvetica;
// The base font size.
$base-font-size: $font-size !default; // Overrides default set in Vertical Rhythm partial.

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: $font-size * 1.5; // Overrides default set in Vertical Rhythm partial.

// The font sizes for h1-h6. You should set these variables in your _base partial.
$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.75 * $base-font-size !default;

// Setting this to false will result in smaller output, but no support for ie6 hacks.
$legacy-support-for-ie6: false; // Overrides default set in Support partial.

// Setting this to false will result in smaller output, but no support for ie7 hacks.
$legacy-support-for-ie7: false; // Overrides default set in Support partial.

// The default font family. You should set $base-font-family in your _base partial.
$base-font-family: $font-family !default;

$base-font-weight: 400;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;