/* LOAD FONT
----------------------------------------------- */
@font-face {
    font-family: 'Miso';
    src: url('../fonts/miso-light-webfont.eot');
    src: url('../fonts/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/miso-light-webfont.woff2') format('woff2'),
         url('../fonts/miso-light-webfont.woff') format('woff'),
         url('../fonts/miso-light-webfont.ttf') format('truetype'),
         url('../fonts/miso-light-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* SET BASICS
----------------------------------------------- */
$font-family-base: "Miso", sans-serif;
$line-height-base: 1.5;

html {
	font-size: 18px;
	line-height: $line-height-base;
	font-family: $font-family-base;
	color: #333;
}

p { 
	margin-bottom: 0.7em;
}