/* BounceIn
----------------------------------------------- */
@-webkit-keyframes bounceIn {
  0%, 33%, 66%, 100% {
    // -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    //         transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, 1);
            transform: scale3d(.3, .3, 1);
  }

  33% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }

  66% {
    -webkit-transform: scale3d(.9, .9, 1);
            transform: scale3d(.9, .9, 1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 33%, 66%, 100% {
    // -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    //         transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, 1);
            transform: scale3d(.3, .3, 1);
  }

  33% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }

  66% {
    -webkit-transform: scale3d(.9, .9, 1);
            transform: scale3d(.9, .9, 1);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}



/* Rotating
----------------------------------------------- */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}