// Media Queries in Sass 3.2
//
// These mixins make media queries a breeze with Sass.
// The media queries from mobile up until desktop all
// trigger at different points along the way
//
// And important point to remember is that and width
// over the portrait width is considered to be part of the
// landscape width. This allows us to capture widths of devices
// that might not fit the dimensions exactly. This means the break
// points are seamless.

//$mq-xsmall  : 25em !default;      // 400px
//$mq-small   : 30em !default;      // 480px
$mq-medium  : 580px !default;  // 590px
//$mq-large   : 45em !default;      // 720px
//$mq-xlarge  : 60em !default;      // 960px
//$mq-xxlarge  : 80em !default;      // 1280px

// Normal Mediaqueries
/*@mixin xxlarge-and-below {
  @media (max-width : $mq-xxlarge) {
    @content;
  }
}

@mixin xlarge-and-below {
  @media (max-width : $mq-xlarge) {
    @content;
  }
}
@mixin large-and-below {
  @media (max-width : $mq-large) {
    @content;
  }
}*/
@mixin medium-and-below {
  @media (max-width : $mq-medium) {
    @content;
  }
}
/*@mixin small-and-below {
  @media (max-width : $mq-small) {
    @content;
  }
}
@mixin xsmall-and-below {
  @media (max-width : $mq-xsmall) {
    @content;
  }
}*/


// Everthing larger than a portrait mobile up until mobile landscape
/*@mixin mobile-landscape-only {
  @media only screen and (min-width : $mq-mobile-portrait + 1) and (max-width : $mq-mobile-landscape) {
    @content;
  }
}*/

// Retina screens have a 1.5 pixel ratio, not 2
@mixin retina {
  @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}