/* To do: make fancy pop-in for contact button
 * 
 * Check tymapnus for inspiration
----------------------------------------------- */
.contact-btn {
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: $green;
	text-decoration: none;
	margin: 0;
	color: white;
	text-transform: uppercase;
	@include box-sizing(border-box);
	@include transition(all 0.3s);

	&:hover {
		background-color: $green;
		color: white;
	}
}

.hover-btn {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	cursor: pointer;
	z-index: 3;
	background-color: transparent;
	background-color: rgba(25, 159, 86, 0);
	@include transition(all 0.3s);

	&:hover {
		background-color: $green;
		//background-color: rgba(25, 159, 86, 0.75);
		background-color: rgba(243, 156, 18, 0.75);


		.zoom-btn {
			opacity: 1;
			overflow: visible;
			z-index: 9;
			-webkit-animation-name: bounceIn;
	        		animation-name: bounceIn;
			-webkit-animation-duration: .3s;
			        animation-duration: .3s;
		}
	}

	&:focus {
		outline: 0;
	}

	&.hidden {
		display: none;
	}
}

.zoom-btn {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 48px;
	background-image: url(../images/zoom.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	z-index: 9;
	-webkit-backface-visibility: hidden;

}