#container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: black;
}

.item {
	width: 20vw;
	height: 20vw;
	z-index: 1;
	background-size: cover;
	background-position: center middle;
	cursor: pointer;
	overflow: hidden;
	@include box-sizing(border-box);
	@include transition(all 0.5s ease-out);
	
	@include medium-and-below {
		width: 50vw;
		height: 50vw;
	}
	
	&.top-layer {
		z-index: 9;
	}
	&.fullscreen {
		width: 100vw;
		height: 100vh;
	}
	&.fixed {
		position: fixed!important;
	}
}

.image-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	opacity: 0;
	cursor: pointer;
	@include transition(opacity 0.5s ease);

	&.active {
		opacity: 1;
	}
}