#nav {
	position: relative;
	width: 20vw;
	height: 20vw;
	z-index: 1;
	cursor: pointer;
	overflow: visible;
	background-color: $green;
	@include box-sizing(border-box);
	@include transition(width 1s ease-in-out, height 1s ease-in-out, background-color 0.3s, z-index 1.2s);
	
	@include medium-and-below {
		width: 50vw;
		height: 50vw;
	}

	&:hover {
		background-color: $orange;
	}
	
	&.top-layer {
		z-index: 9;
	}

	&.fixed {
		position: fixed!important;
	}

	&.fullscreen {
		width: 100%;
		height: 100vh;

		&:hover {
			background-color: $green;
		}

		.logo {
			background-color: $orange;

			&:hover {
				background-color: $green;
			}
		}
	}
	
}
.logo {
	display: block;
	width: 20vw;
	height: 20vw;
	opacity: 1;
	cursor: pointer;
	background-color: $green;
	@include transition(all 0.3s);

	&:hover {
		width: 15vw;
		height: 15vw;
		margin: 2.5vw 0 0 2.5vw;
		background-color: $orange;
	}
}